*{
    padding: 0;
    margin: 0;
  }
ul{
    padding-left: 1450px;
  }
  ul,li{
    display: inline-block;
  padding-right: 20px;
  margin-right: 10px;
  text-align: right;
  font-size: medium;
  }
  nav{
    display: flex;
    align-items: center;
    height: 80px;
}
body{
    background-color: black;
}
h1{
    color: white;
  position: absolute;
  bottom: 25%;
  left: 0%;
  text-shadow: 2px 2px 5px gold;
  text-align: center;
  font-size: xxx-large;
  font-family:Pacifio;
}
.horse{
    color: white;
  position: absolute;
  bottom: 20%;
  left: 33%;
  text-shadow: 2px 2px 5px gold;
  text-align: center;
  font-size: xxx-large;
  font-family:Pacifio;
  line-height: 50px;
}
.hate{
    color: white;
  position: absolute;
  bottom: -100%;
  left: 22%;
  text-shadow: 5px 2px 5px red;
  text-align: center;
  font-size: xx-large;
  font-family:Pacifio; 
  line-height: 55px;

}
.text{
    text-align: center;
    text-shadow: 5px 5px 2px purple;
    bottom: -35%;
    left: 39%;
    font-size:550%;
}
.disgusting{
    position: relative;
    top: 200px;
    left: 20px;
    width: 20%;
}
.hire_me{
    color: white;
    background-color: blue;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 15%;
    left: 7%;
    border-radius: 10px;
    width: 180px;
    cursor: pointer
}
h2{
    color: white;
    text-shadow: 5px 5px 2px midnightblue;
    font-size: 550%;
    text-align: center;
    margin-top: 300px;
}
.example{
    color: white;
}
.light{
    text-shadow: 5px 5px 2px mediumpurple;
    color: white;
    font-size: 550%;
    text-align: left;
    margin-top: 300px;
}
h3{
    color: white;
    font-size: x-large;
    margin-top: -22%;
    margin-left: 3.8%;
}
.web_development{
    color: white;
    font-size: larger;
    margin-top: 5%;
    margin-left:2%;
}